@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+Display:wght@400;500;600;700&display=swap');

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
}

h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.paragraph-max-line {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.paragraph-min-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.paragraph-per-line {
    padding: 8px 0;
    margin-bottom: 20px;
}

.heading-per-line {
    padding: 8px 0;
    margin-bottom: 10px;
}

.user-profile {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.blog-title {
    background-color: #333;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #eee;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(203 213 225);
    border-radius: 15px;
}

::-moz-selection {
    /* Code for Firefox */
    color: #f8fafc;
    background: #0284c7;
}

::selection {
    color: #f8fafc;
    background: #0284c7;
}